<div class="jumbotron">
  <h1> <%= @recipe.name() %> </h1>
</div>


<h1>Available ingredients:</h1>

<% if @ingredients.any?() %>
  <form action="/add_ing/<%= @recipe.id %>" method="post">
    <% @unused_ingredients.each() do |ingredient| %>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="ingredient_ids[]" value="<%= ingredient.id() %>"><%= ingredient.ingredient() %>
        </label>
      </div>
    <% end %>

    <button type="submit">Add ingredient</button>
  </form>
<% end %><br><br>

<% if @recipe.ingredients().any?() %>

  <h3>Here are all the ingredients in this recipe:</h3>

  <ul>
    <% @recipe.ingredients().each() do |add| %>
      <li><%= add.ingredient() %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no ingredients yet!</p>
<% end %>

<a href='/'><button type="button" class ="btn btn-info">Return to Cook Book</button></a>
