<div class="jumbotron">
  <h1> <%= @recipe.name() %> </h1>
</div>


<div class="row">
  <div class="col-sm-2">
    <a href='/'><button type="button" class ="btn btn-primary">Return to Cook Book</button></a>
  </div>

  <div class="col-sm-2">
    <form action="/recipe/<%= @recipe.id() %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class='btn btn-danger'>Delete Recipe</button>
    </form>
  </div>

  <form action="/recipe/<%= @recipe.id() %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <div class="form-group row">
        <button type="submit" class='btn btn-info'>Rename</button>
      <div class="col-sm-8">
        <input class="form-control form-control-md" name="rename" id="lgFormGroupInput" placeholder="Update Name">
      </div>
    </div>
  </form>

</div><br>


<div class="row">
  <!-- Joining Recipes and Ingredients -->
  <div class="col-sm-6">
    <h1>Available ingredients:</h1>

    <% if @ingredients.any?() %>
      <form action="/add_ing/<%= @recipe.id %>" method="post">
        <% @unused_ingredients.each() do |ingredient| %>

          <div class="checkbox">
            <label>
              <input type="checkbox" name="ingredient_ids[]" value="<%= ingredient.id() %>"><%= ingredient.ingredient() %>
            </label>
          </div>
        <% end %>

        <button type="submit">Add ingredient</button>
      </form>
    <% end %><br><br>

    <% if @recipe.ingredients().any?() %>

      <h3>Here are all the ingredients in this recipe:</h3>

      <ul>
        <% @recipe.ingredients().each() do |add| %>
          <li><%= add.ingredient() %></li>
        <% end %>
      </ul>
    <% else %>
      <p>There are no ingredients yet!</p>
    <% end %>
  </div>
  <!-- End Recipe/Ingredient Join -->

  <!-- Joining Categories and Recipes -->
  <div class="col-sm-6">
      <h1>Available Recipe Tags:</h1>

      <% if @categories.any?() %>
        <form action="/add_cat/<%= @recipe.id %>" method="post">
          <% @unused_categories.each() do |category| %>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="category_ids[]" value="<%= category.id() %>"><%= category.tag() %>
              </label>
            </div>
          <% end %>
          <button type="submit">Add Category</button>
        </form>
      <% end %><br><br>

      <% if @recipe.categories().any?() %>

        <h3>Here are all the recipe tags for this recipe:</h3>

        <ul>
          <% @recipe.categories().each() do |add| %>
            <li><%= add.tag() %></li>
          <% end %>
        </ul>
      <% else %>
        <p>There are no recipe tags yet!</p>
      <% end %>
    </div>
  </div>
  <!-- End Category/Recipe Joing -->

</div>
